.payment {
    margin: 3em 2em;
    width: 440px;
}

.payment-desc {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 2em;
}

.payment-title {
    font-size: 18px;
    color: var(--marine-blue);
}

.payment-price {
    font-size: 18px;
    font-weight: 700;
    color: var(--marine-blue);
}

.payment-extras-item {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 440px;
}

.extras-title,
.total-title {
    color: var(--cool-gray);
}

.total-price {
    font-size: 20px;
    color: var(--purplish-blue);
    font-weight: 700;
}

.payment-extras-total {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 3em;
}

.thank-you {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.thank-img {
    width: 90px;
    margin-bottom: 1em;
}

.thank-you-title {
    margin: 0.5em 0;
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 30px;
}

.thank-you-text {
    width: 500px;
    color: var(--cool-gray);
}

@media screen and (max-width: 428px) {
    .finishing-up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .payment,
    .payment-extras-item {
        width: 200px;
    }
    
    .thank-you-text {
        width: 85%;
        font-size: 18px;
        margin-bottom: 4em;
    }
    
    .thank-img {
        width: 60px;
    }
}